*{
      font-family: "Montserrat", sans-serif;
      margin: 0;
      overflow: hidden;
}
.main{
    background-color: black;
    display: flex;
    height: 100vh;
}
.sidebar{
    background-color: black;
    width: 300px;
    border-radius: 1rem; /* 16px */
}
.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
    margin: .6rem .2rem;
    padding: 0 1.5rem;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}
a{
    text-decoration: none;
    color: white;
}

/* sidebar css */
/* navbar css */
.navbar{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content:center ;
    padding:.5rem 0.75rem;
    border-radius: 1rem;
    margin: .6rem .2rem;
}
.nav-option{
    padding: .5rem 1rem;
    line-height: 2.5rem;
    opacity:0.7;
}
.nav-option:hover{
    opacity:1;
    cursor: pointer;
}
.nav-option a {
    font-size:1.1rem; /* 16px */
}
.nav-option i{
    padding-right: .7rem;
    font-size: 1.25rem;
    color: white;
}

/* library css */
img{
    height: 1.25rem;
    width: 1.25rem;
 }

 .library{
    background-color: #121212;
    height: 100vh;
    padding:.5rem 0.75rem;
    border-radius: 1rem;
    margin: .6rem .2rem;
 }
 .lib-options{
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: white;
 }
 .options{
    opacity: 0.7;
 }
 .options:hover{
    opacity: 1;
}
 .options img{
    margin-right: 0.3rem;
    cursor: pointer;

 }
 .icons i{
    opacity: 0.7;
    margin-left: 0.7rem;
    padding-top: .4rem;
 }
 .icons i:hover{
    opacity: 1;
    cursor: pointer;
 }

 /* lib-boxes css */
 
 .box{
    color: white;
    background-color: #1f1f1f;
    border-radius: 1rem;
    margin-top: 1rem;
    padding:1rem 1.25rem;
    line-height: 1.4rem;
 }
.box-p1{
    font-size: 1rem;
    font-weight: 700;
}
.box-p2{
    font-size: 0.87rem;
    opacity: 0.9;
}
.badge{
    border-radius:100px;
    font-weight: 700;
    padding:0.25rem 1rem;
    margin-top:0.75rem ;
    border: solid white 1px;
    cursor: pointer;
}

/* main-content */
.sticky-navbar{
    position:sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons-nav{
    margin-left:1rem ;
    padding: .5rem 0.75rem;
}
.icons-nav img{
    background-color: black;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    opacity: .7;
}
.icons-nav img:hover{
    opacity: 1;
}
.btns{
    display: flex;
    align-items: center;
    margin-right: 1rem;
}   
.btns button{
    align-items: center;
    background-color:white;
    border: none;
    color:black;
    cursor: pointer;
    display: flex;
    font-size: .85rem;
    margin: 0 .5rem;
    padding: .2rem 1rem;
}

.card{
    border: 2px solid yellow;
    background-color: #232323;
    width: 150px;
    height: 220px;
    padding: .5rem;
}
.main-content h2{
    color: white;
    font-weight: 600;
    padding: 1rem 0;
}
.card-container{
    display: flex;
}
.card img{
    height: 150px;
    width:100%;
    border-radius: .2rem;
}
.card-title{
    font-weight: 600;
    color: white;
    padding:.3rem 0 ;
}
.card-info{
    color: white;
    font-weight: 400;
    font-size: .8rem;
    opacity: 0.8;
}








