*{
      font-family: "Montserrat", sans-serif;
      margin: 0;
      overflow: hidden;
}
.main{
    background-color: black;
    display: flex;
    height: 100vh;
}
.sidebar{
    background-color: black;
    width: 300px;
    border-radius: 1rem; /* 16px */
}
.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
}
.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}
a{
    text-decoration: none;
    color: white;
}

/* sidebar css */
/* navbar css */
.navbar{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content:center ;
    padding:.5rem 0.75rem;
    border-radius: 1rem;
    margin: .6rem .6rem;
}
.nav-option{
    padding: .5rem 1rem;
    line-height: 2.5rem;
    opacity:0.7;
}
.nav-option:hover{
    opacity:1;
    cursor: pointer;
}
.nav-option a {
    font-size:1.1rem; /* 16px */
}
.nav-option i{
    padding-right: .7rem;
    font-size: 1.25rem;
    color: white;
}

/* library css */
img{
    height: 1.25rem;
    width: 1.25rem;
 }

 .library{
    background-color: #121212;
    height: 100vh;
    padding:.5rem 0.75rem;
    border-radius: 1rem;
    margin: .6rem .6rem;
 }
 .lib-options{
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    font-size: 1rem;
    color: white;
 }
 .options{
    opacity: 0.7;
 }
 .options:hover{
    opacity: 1;
}
 .options img{
    margin-right: 0.3rem;
    cursor: pointer;

 }
 .icons i{
    opacity: 0.7;
    margin-left: 0.7rem;
    padding-top: .4rem;
 }
 .icons i:hover{
    opacity: 1;
    cursor: pointer;
 }

 /* lib-boxes css */
 .lib-boxes{
    color: white;
    background-color: #1f1f1f;

 }
 .box{
    margin: .5rem 0rem;
    padding:1rem 1.25rem;
 }
.box-p1{
    font-size: 1rem;
}
.box-p2{
    font-size: 0.87rem;
}
.badge{
    border-radius:1rem solid white;
    font-weight: 700;
}





